In [2]:
#Import Dependencies
from pprint import pprint
import pandas as pd
import requests
from sqlalchemy import create_engine
import psycopg2
import numpy as np
from config import password

pd.set_option('display.max_columns', None)
from collections import Counter
import re

In [3]:
omdb_df = pd.read_csv('Resources/omdb_data.csv')
print(len(omdb_df))
omdb_df.head()

1163

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Ratings,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Frozen,2013,PG,27 Nov 2013,102 min,"Animation, Adventure, Comedy, Family, Fantasy,...","Chris Buck, Jennifer Lee","Jennifer Lee (screenplay by), Hans Christian A...","Kristen Bell, Idina Menzel, Jonathan Groff, Jo...",When the newly crowned Queen Elsa accidentally...,"English, Norwegian",USA,Won 2 Oscars. Another 79 wins & 59 nominations.,https://m.media-amazon.com/images/M/MV5BMTQ1Mj...,"[{'Source': 'Internet Movie Database', 'Value'...",75.0,7.4,"556,379",tt2294629,movie,18 Mar 2014,"$400,736,600",Walt Disney Pictures,NaN,True
1,Submarine,2010,R,18 Mar 2011,97 min,"Comedy, Drama, Romance",Richard Ayoade,"Richard Ayoade, Joe Dunthorne (novel)","Noah Taylor, Paddy Considine, Craig Roberts, Y...",15-year-old Oliver Tate has two objectives: To...,English,"UK, USA",Nominated for 1 BAFTA Film Award. Another 6 wi...,https://m.media-amazon.com/images/M/MV5BMTQ5OD...,"[{'Source': 'Internet Movie Database', 'Value'...",76.0,7.3,"83,057",tt1440292,movie,04 Oct 2011,"$400,000",The Weinstein Company,NaN,True
2,6 Points About Emma,2011,TV-14,11 May 2012,82 min,Drama,Roberto Pérez Toledo,"Roberto Pérez Toledo, Peter Andermatt","Verónica Echegui, Antonio Velázquez, Álex Garc...",Emma is almost thirty years old. Her eyes are ...,"Spanish, English",Spain,5 wins.,https://m.media-amazon.com/images/M/MV5BMjA0NT...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,5.9,362,tt1798085,movie,NaN,NaN,Alta Films,NaN,True
3,K.G.F: Chapter 1,2018,Not Rated,20 Dec 2018,156 min,"Action, Drama",Prashanth Neel,Prashanth Neel,"Yash, Srinidhi Shetty, Ramachandra Raju, Archa...","In the 1970s, a fierce rebel rises against bru...",Kannada,India,10 wins.,https://m.media-amazon.com/images/M/MV5BZDNlNz...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,8.2,"30,439",tt7838252,movie,NaN,NaN,Weekend Cinema,NaN,True
4,"No Pay, Nudity",2016,R,13 Nov 2016,92 min,"Comedy, Drama",Lee Wilkof,Ethan Sandler,"Donna Murphy, Frances Conroy, Gabriel Byrne, Z...","Aging actor Lester Rosenthal (Gabriel Byrne), ...",English,USA,1 win.,https://m.media-amazon.com/images/M/MV5BNjQ5Zj...,"[{'Source': 'Internet Movie Database', 'Value'...",NaN,5.9,108,tt3177086,movie,13 Dec 2016,"$20,017",A Day in the Life Films,NaN,True

In [4]:
#Clean Dataframe
columns = omdb_df.columns.str.lower()
columns = [name.replace(' ', '_') for name in columns]
omdb_df.columns = columns
omdb_df = omdb_df.dropna(subset=['genre'])

omdb_df = omdb_df.drop(['released','ratings', 'metascore', 'type', 'dvd', 'imdbvotes', 'website', 'response', 'director', 'writer', 'actors'], axis=1)
omdb_df.head()

,title,year,rated,runtime,genre,plot,language,country,awards,poster,imdbrating,imdbid,boxoffice,production
0,Frozen,2013,PG,102 min,"Animation, Adventure, Comedy, Family, Fantasy,...",When the newly crowned Queen Elsa accidentally...,"English, Norwegian",USA,Won 2 Oscars. Another 79 wins & 59 nominations.,https://m.media-amazon.com/images/M/MV5BMTQ1Mj...,7.4,tt2294629,"$400,736,600",Walt Disney Pictures
1,Submarine,2010,R,97 min,"Comedy, Drama, Romance",15-year-old Oliver Tate has two objectives: To...,English,"UK, USA",Nominated for 1 BAFTA Film Award. Another 6 wi...,https://m.media-amazon.com/images/M/MV5BMTQ5OD...,7.3,tt1440292,"$400,000",The Weinstein Company
2,6 Points About Emma,2011,TV-14,82 min,Drama,Emma is almost thirty years old. Her eyes are ...,"Spanish, English",Spain,5 wins.,https://m.media-amazon.com/images/M/MV5BMjA0NT...,5.9,tt1798085,NaN,Alta Films
3,K.G.F: Chapter 1,2018,Not Rated,156 min,"Action, Drama","In the 1970s, a fierce rebel rises against bru...",Kannada,India,10 wins.,https://m.media-amazon.com/images/M/MV5BZDNlNz...,8.2,tt7838252,NaN,Weekend Cinema
4,"No Pay, Nudity",2016,R,92 min,"Comedy, Drama","Aging actor Lester Rosenthal (Gabriel Byrne), ...",English,USA,1 win.,https://m.media-amazon.com/images/M/MV5BNjQ5Zj...,5.9,tt3177086,"$20,017",A Day in the Life Films

In [5]:
genre_df = pd.DataFrame(omdb_df['genre'].value_counts())
genre_df = genre_df.reset_index()
#genre_df
genre_list = list(genre_df['index'])
#genre_list

In [6]:
# [item.replace(',', '') for x in
# flist = [item for sublist in list(b.values) for item in sublist]
list_of_lists = [y.split() for y in genre_list]
#[item for sublist in list(test.values) for item in sublist]
full_genre_list = [val for sublist in list_of_lists for val in sublist] 
#full_genre_list

In [7]:
most_common = Counter(full_genre_list).most_common(10)

In [8]:
unique_genre = set()
for entry in genre_list:
    temp = re.split(' |,|/|&', entry)
    [unique_genre.add(x) for x in temp]

unique_genre = list(unique_genre)
del unique_genre[0]
unique_genre

['History',
 'Adventure',
 'Thriller',
 'Family',
 'Fantasy',
 'Crime',
 'Mystery',
 'Biography',
 'Drama',
 'Romance',
 'Western',
 'Music',
 'Musical',
 'Short',
 'Action',
 'Sport',
 'Sci-Fi',
 'War',
 'Comedy',
 'Horror',
 'Animation']

In [9]:
omdb_df['drama'] = 0
omdb_df['comedy'] = 0
omdb_df['action'] = 0
omdb_df['thriller'] = 0
omdb_df['adventure'] = 0
omdb_df['horror'] = 0
omdb_df['fantasy'] = 0
omdb_df['crime'] = 0
omdb_df['romance'] = 0
omdb_df['animation'] = 0

In [10]:
for index, row in omdb_df.iterrows():
    if 'Drama' in row['genre']:
        omdb_df.at[index, 'drama'] = 1
    if 'Comedy' in row['genre']:
        omdb_df.at[index, 'comedy'] = 1
    if 'Action' in row['genre']:
        omdb_df.at[index, 'action'] = 1
    if 'Thriller' in row['genre']:
        omdb_df.at[index, 'thriller'] = 1
    if 'Adventure' in row['genre']:
        omdb_df.at[index, 'adventure'] = 1
    if 'Horror' in row['genre']:
        omdb_df.at[index, 'horror'] = 1
    if 'Fantasy' in row['genre']:
        omdb_df.at[index, 'fantasy'] = 1
    if 'Crime' in row['genre']:
        omdb_df.at[index, 'crime'] = 1
    if 'Romance' in row['genre']:
        omdb_df.at[index, 'romance'] = 1
    if 'Animation' in row['genre']:
        omdb_df.at[index, 'animation'] = 1

In [14]:
omdb_df = omdb_df.reset_index(drop=True)
omdb_df['id'] = omdb_df.index
omdb_df.head()

,title,year,rated,runtime,genre,plot,language,country,awards,poster,imdbrating,imdbid,boxoffice,production,drama,comedy,action,thriller,adventure,horror,fantasy,crime,romance,animation,id
0,Frozen,2013,PG,102 min,"Animation, Adventure, Comedy, Family, Fantasy,...",When the newly crowned Queen Elsa accidentally...,"English, Norwegian",USA,Won 2 Oscars. Another 79 wins & 59 nominations.,https://m.media-amazon.com/images/M/MV5BMTQ1Mj...,7.4,tt2294629,"$400,736,600",Walt Disney Pictures,0,1,0,0,1,0,1,0,0,1,0
1,Submarine,2010,R,97 min,"Comedy, Drama, Romance",15-year-old Oliver Tate has two objectives: To...,English,"UK, USA",Nominated for 1 BAFTA Film Award. Another 6 wi...,https://m.media-amazon.com/images/M/MV5BMTQ5OD...,7.3,tt1440292,"$400,000",The Weinstein Company,1,1,0,0,0,0,0,0,1,0,1
2,6 Points About Emma,2011,TV-14,82 min,Drama,Emma is almost thirty years old. Her eyes are ...,"Spanish, English",Spain,5 wins.,https://m.media-amazon.com/images/M/MV5BMjA0NT...,5.9,tt1798085,NaN,Alta Films,1,0,0,0,0,0,0,0,0,0,2
3,K.G.F: Chapter 1,2018,Not Rated,156 min,"Action, Drama","In the 1970s, a fierce rebel rises against bru...",Kannada,India,10 wins.,https://m.media-amazon.com/images/M/MV5BZDNlNz...,8.2,tt7838252,NaN,Weekend Cinema,1,0,1,0,0,0,0,0,0,0,3
4,"No Pay, Nudity",2016,R,92 min,"Comedy, Drama","Aging actor Lester Rosenthal (Gabriel Byrne), ...",English,USA,1 win.,https://m.media-amazon.com/images/M/MV5BNjQ5Zj...,5.9,tt3177086,"$20,017",A Day in the Life Films,1,1,0,0,0,0,0,0,0,0,4

## Load

In [15]:
#load to sql
engine = create_engine(f'postgresql://postgres:{password}@final-project.cft8wszdkeh0.us-east-2.rds.amazonaws.com:5432/postgres')

#Upload all tables
omdb_df.to_sql(name="omdb",con=engine, if_exists='replace', index=False) #OMDB API data

In [16]:
with engine.connect() as con:
    con.execute('ALTER TABLE "omdb" ADD PRIMARY KEY (id);')

In [22]:
#create csv for  AWS
omdb_data = omdb_df[['plot', 'drama', 'comedy', 'action', 'thriller', 'adventure', 'horror', 'fantasy', 'crime', 'romance', 'animation']]
omdb_data = omdb_data.dropna(subset=['plot'])
omdb_data.to_csv('Resources/model_input.csv', index=False)

In [ ]:
[StructField('drama',  IntegerType(), True), StructField('comedy',  IntegerType(), True), StructField('action',  IntegerType(), True), StructField('thriller',  IntegerType(), True), StructField('adventure',  IntegerType(), True), StructField('horror',  IntegerType(), True), StructField('fantasy',  IntegerType(), True), StructField('crime',  IntegerType(), True), StructField('romance',  IntegerType(), True), StructField('animation',  IntegerType(), True), ]